<!-- start custom analytics snippet -->
<a title="Google Analytics Alternative" href="https://clicky.com/101450799"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script async data-id="101450799" src="//static.getclicky.com/js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3FTL1W33VF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3FTL1W33VF');
</script>
<!-- end custom analytics snippet -->
